.box{
    width: 200px;
    height: 200px;
    background: red;
    top: 200px;
    left: 300px;
    position: absolute;
    animation: render 5s ease-in-out infinite;
}
.box1{
    width: 200px;
    height: 200px;
    background: green;
    border-radius: 50%;
    top: 200px;
    left: 500px;
    position: absolute;
    animation: render1 5s ease-in-out infinite;
}
.box2{
    width: 200px;
    height: 200px;
    background: yellow;
    top: 200px;
    left: 700px;
    position: absolute;
    animation: render2 5s ease-in-out infinite;
}
@keyframes render{
    0%{top: 200px; left: 300px; background: red;}
    20%{top: 0px; left: 300px; background: yellow; border-radius: 50%;}
    40%{top: 0px; left: 0px; background: green; border-radius: 0%;}
    60%{top: 400px; left: 0px; background: blue; border-radius: 0%;}
    80%{top: 400px; left: 300px; background: grey; border-radius: 50%;}
}
@keyframes render1{
    0%{top: 200px; left: 500px; background: green;}
    25%{top: 0px; left: 500px; background: blue;border-radius: 0%;}
    50%{top: 200px; left: 500px; background: red; border-radius: 50%;}
    75%{top: 400px; left: 500px; background: yellow; border-radius: 0%;}    
}
@keyframes render2{
    0%{top: 200px; left: 700px; background: blue;}
    20%{top: 0px; left: 700px; background: grey; border-radius: 50%;}
    40%{top: 0px; left: 1000px; background: red; border-radius: 0%;}
    60%{top: 400px; left: 1000px; background: yellow; border-radius: 0%;}
    80%{top: 400px; left: 700px; background: green; border-radius: 50%;}
}